<div class="landing-container">
    <div class="landing-left">
        <h1>Dr. Shakti Dental</h1>
        <h2>Quality Cosmetic Dentistry in Bangalore</h2>
        <p>
            Located in Bangalore, Dr. Shakti Dental has 5 dedicated professionals focusing on cosmetic dentistry. With
            advanced
            technology and a warm environment, they create a unique experience for every patient
        </p>
        <a class="contact-btn" routerLink="/contact">Contact us</a>
    </div>
    <div class="landing-right">
        <img src="assets/hero.jpg" alt="Dr. Shakti Dental" />
    </div>
</div>